{% extends 'base.html' %}

{% block content %}

<div class="card shadow p-4 col-md-6">

<h3>Add Customer to {{ deal.title }}</h3>

<form method="POST" id="customerForm">
{% csrf_token %}

<div class="mb-3">
<label>Contact</label>

<select name="contact" class="form-control" id="contact_name">
<option value="">Select Contact</option>
{% for c in contacts %}
<option value="{{ c.id }}">
{{ c.name }}
</option>
{% endfor %}
</select>

</div>

<div class="mb-3">
<label>Lead Status</label>

<select name="status" class="form-control" id="lead_status">
<option value="">Select Lead Status</option>
<option>Hot</option>
<option>Warm</option>
<option>Cold</option>
</select>

</div>

<button type="submit" class="btn btn-success">
Add Customer
</button>
<a href="/deals/"
class="btn btn-secondary">
Cancel
</a>

</form>

</div>

{% endblock %}