{% extends 'base.html' %}

{% block content %}

<div class="card shadow p-4 col-md-6">
    <h3 class="mb-4">Edit Contact</h3>

    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label>Name</label>
            <input name="name" value="{{ contact.name }}" class="form-control">
        </div>

        <div class="mb-3">
            <label>Email</label>
            <input name="email" value="{{ contact.email }}" class="form-control">
        </div>

        <div class="mb-3">
            <label>Phone</label>
            <input name="phone" value="{{ contact.phone }}" class="form-control">
        </div>

		<div class="mb-3">
            <label>Company</label>
            <input name="company" value="{{ contact.company }}" class="form-control">
        </div>

		<div class="mb-3">
            <label>Job Title</label>
            <input name="job_title" value="{{ contact.job_title }}" class="form-control">
        </div>

		<div class="mb-3">
            <label>Notes</label>
			<textarea name="notes" class="form-control mb-2" placeholder="Notes">{{ contact.notes }}</textarea>
        </div>

        <button class="btn btn-warning">Update</button>
        <a href="/contacts/?view={{ view }}&q={{ q }}"
        class="btn btn-secondary">
        Cancel
        </a>

    </form>
</div>

{% endblock %}