{% extends 'base.html' %}

{% block content %}

<h3>Contacts</h3>

<a href="/contacts/add/?view={{ view_type }}&q={{ request.GET.q }}"
class="btn btn-primary mb-3">
Add Contact
</a>

<div class="mb-3 d-flex gap-2">

<a href="?view=my&q={{ request.GET.q }}"
class="btn btn-sm {% if view_type == 'my' %}btn-dark{% else %}btn-outline-dark{% endif %}">
My Contacts
</a>

<a href="?view=all&q={{ request.GET.q }}"
class="btn btn-sm {% if view_type == 'all' %}btn-dark{% else %}btn-outline-dark{% endif %}">
All Contacts
</a>

<a href="/contacts/download-excel/?view={{ request.GET.view }}"
   class="btn btn-sm btn-outline-success ms-auto">
   <i class="bi bi-file-earmark-excel"></i> Download Excel
</a>

</div>

<form method="get" class="mb-3">

<input type="hidden" name="view" value="{{ view_type }}">

<div class="input-group">

<input
type="text"
name="q"
value="{{ request.GET.q }}"
class="form-control"
placeholder="Search contacts..."
autocomplete="off"
>

<button class="btn btn-dark" title="Search">
<i class="bi bi-search"></i>
</button>

<a href="?view={{ view_type }}" class="btn btn-secondary" title="Clear">
<i class="bi bi-x-circle"></i>
</a>

</div>

</form>

<table class="table table-striped">
    <tr>
        <th>Name</th>

        <th class="d-none d-md-table-cell">Email</th>
        <!--<th class="d-none d-md-table-cell">Phone</th>-->

        {% if view_type == 'all' %}
        <th class="d-none d-md-table-cell">Owner</th>
        {% endif %}

        <th>Actions</th>
    </tr>

    {% for c in contacts %}
    <tr>
        <!-- Always visible -->
        <td>{{ c.name }}</td>

        <!-- Hidden on mobile -->
        <td class="d-none d-md-table-cell">{{ c.email }}</td>
        <!--<td class="d-none d-md-table-cell">{{ c.phone }}</td>-->

        {% if view_type == 'all' %}
        <td class="d-none d-md-table-cell">
            {{ c.owner.username }}
        </td>
        {% endif %}

        <!-- Always visible -->
        <td>

        <a href="/contacts/view/{{ c.id }}?view={{ view_type }}&q={{ request.GET.q }}"
        class="btn btn-sm btn-outline-secondary"
        title="View">
        <i class="bi bi-eye"></i>
        </a>

        {% if c.owner == request.user %}
        <a href="/contacts/edit/{{ c.id }}?view={{ view_type }}&q={{ request.GET.q }}"
        class="btn btn-sm btn-outline-primary me-1">
        <i class="bi bi-pencil-square"></i>
        </a>

        <a href="/contacts/delete/{{ c.id }}?view={{ view_type }}&q={{ request.GET.q }}"
        class="btn btn-sm btn-outline-danger"
        onclick="return confirm('Delete this contact?')">
        <i class="bi bi-trash"></i>
        </a>

        {% endif %}
    </td>
</tr>
    {% endfor %}

</table>

{% endblock %}